.about {
  display: inline-flex;
  flex-direction: column;
  width: 560px;

  &__container {
    flex-direction: row;
    margin-top: 84px;
  }

  &__delivery-list {
    margin: 66px 0 0 0;
    padding: 0;
    list-style-type: none;
  }
  &__delivery-item {
    position: relative;
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    margin: 0 0 0 34px;
    padding: 0;
    color: @black;

    &::before {
      position: absolute;
      box-sizing: border-box;
      content: "";
      top: 50%;
      left: -34px;
      width: 8px;
      height: 8px;
      border: solid 2px @whisper;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  &__text {
    margin: 30px 0 0 0;
    &:first-of-type {
      margin: 38px 0 0 0;
    }
  }

  &__button {
    display: table;
    margin: 55px 0 0 0;
    padding-left: 23px;
    padding-right: 21px;
    letter-spacing: 3.5px;
  }
}
