.catalog {

  &__sidebar {
    display: inline-flex;
    flex-basis: auto;
    width: 328px;
  }

  &__main {
    display: inline-flex;
    flex-basis: auto;
    flex-direction: column;
    width: 780px;
    margin-left: auto;

  }

}
