.catalog {

  &__sidebar {
    display: inline-flex;
    flex-basis: auto;
    flex-direction: column;
    width: 328px;
  }

  &__main {
    display: inline-flex;
    flex-basis: auto;
    flex-direction: column;
    width: 780px;
    margin-left: auto;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}
