.footer {
  background-color: @charcoal;
  color: @white;

  &__logo {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;

  }
  &__logo-link {
    text-decoration: none;
    color: @sunflower;

    &:visited {
      color: @sunflower;
    }
    &:hover {
      opacity: .6;
    }
    &:active {
      opacity: .3;
    }
  }

  &__address {
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  &__nav-item {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  &__nav-link {
    text-decoration: none;
    color: @white;
    &:visited {
      color: @white;
    }
    &:hover {
      opacity: .6;
    }
    &:active {
      opacity: .3;
    }
  }
  &__shop-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__shop-menu-item {
    display: inline-block;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
  }
  &__shop-menu-link {
    text-decoration: none;
    color: @white;
    &:visited {
      color: @white;
    }
    &:hover {
      opacity: .6;
    }
    &:active {
      opacity: .3;
    }
  }
  &__phone {
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    color: @white;
    &:visited {
      color: @white;
    }
    &:hover {
      opacity: .6;
    }
    &:active {
      opacity: .3;
    }
  }

  &__social-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__social-item {
    display: inline-block;
  }

}
