.header {
  &__logo {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
  }

  &__logo-link {
    color: @black;
    text-decoration: none;

    &:visited {
      color: @black;
    }
    &:hover {
      opacity: .6;
    }
    &:active {
      opacity: .3;
    }
  }

  &__top {
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: @black;
  }


}
