.main-menu {
  width: 100%;

  &__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  }

  &__item {
    margin: 0;
    padding: 0;
    position: relative;

    &_catalog {
      width: 540px;
      flex-basis: auto;
      margin-bottom: 114px;
    }
    &_catalog-list {
      order: 99;
      display: none;
    }

    &_delivery {
      width: 160px;
      flex-basis: auto;
    }

    &_waranty {
      width: 160px;
      flex-basis: auto;
    }

    &_contacts {
      margin-left: auto;
    }

    &_catalog:hover {
      margin-bottom: 0;
      padding-bottom: 114px;
    }

    &_catalog:hover > .main-menu__catalog-menu {
      display: block;
    }

  }

  &__link {
    position: relative;
    text-decoration: none;
    color: @black;

    &:visited {
      color: @black;
    }

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }

    &_catalog {
      &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3px;
        right: -30px;
        background-image: url('../img/svg/plus.svg');
        background-repeat: no-repeat;
        opacity: .3;
      }
    }

    &_contacts {
      margin-right: -4px;
    }
  }

  &__catalog-menu {
    display: none;
  }
}
