.section {
  &__title {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Gilroy;
    font-size: 47px;
    font-weight: 700;
  }
  &__text {
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: @charcoal;
  }
}
