.services {
  &__controls_list {
    list-style-type: none;
  }
  &__controls_item {
    max-width: 160px;
  }

  &__heading {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Gilroy, sans-serif;
    font-size: 47px;
    font-weight: 700;
  }

  &__text {
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: @charcoal;
  }
}
