.shop {
  &__menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__menu-item {
    flex-basis: auto;
    display: inline-flex;
    width: 120px;
    justify-content: flex-end;
  }

  &__menu-link {

    color: @black;
    text-decoration: none;

    &:hover {
      opacity: .6;
    }
    &:active {
      opacity: .3;
    }

    &_basket {
      margin-left: 25px;
    }

    &_compare {
      margin-left: 21px;
    }
  }
}
