.slider {

  &__heading {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Gilroy;
    font-size: 47px;
    font-weight: 700;
  }

  &__details-list {
    list-style-type: none;
  }

  &__details-item {
    display: inline-block;
  }

  &__details-item_content {
    display: block;
    font-family: Gilroy, OpenSans, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    color: @black;
  }

  &__details-item_name {
    display: block;
    margin: 10px 0 0 0;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: @charcoal;
  }
}

//slider__details-item
