.slider {

  padding-top: 2px;


  &__controls-list {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 319px;
    right: 82px;
    z-index: 2;
  }

  &__controls-item {
    display: inline-block;
    margin: 0 0 0 18px;
    padding: 0;
  }

  &__button {
    display: block;
    position: relative;
    width: 12px;
    height: 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      background-image: url('../img/svg/slider-button-empty.svg');
      background-size: 12px 12px;
      background-repeat: no-repeat;
    }

    &_active {
      &::before {
        background-image: url('../img/svg/slider-button.svg');
      }
    }

    &:active {
      outline: none;
    }

    &:focus {
      outline: none;
    }

  }

/* ==============  ARTICLE ============== */

  &__item {
    display: none;
    min-height: 501px;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 114px;
      top: 0;
      left: 0;
      background-color: @visVis;
      z-index: -1;
    }

    &::after {
      position: absolute;
      top: -12px;
      right: 46px;
      font-family: Gilroy, Helvetica, Arial, sans-serif;
      font-size: 179px;
      font-weight: 700;
      line-height: 180px;
      letter-spacing: 2px;
      color: @white;
      z-index: -1;
    }

/* ==============  SLIDE 1 ============== */

    &_01 {
      &::after {
        content: '01';
      }

      & img {
        margin-left: 90px;
      }
    }

/* ==============  SLIDE 2 ============== */

    &_02 {
      &::after {
        content: '02';
      }

      & img {
        margin: 12px 0 0 116px;
      }
    }

/* ==============  SLIDE 2 ============== */

    &_03 {
      &::after {
        content: '03';
      }

      & img {
        margin: 65px 0 0 31px;
      }
    }
  }

  &__image-wrapper {
    width: 560px;
  }

  &__content-wrapper {
    width: 560px;
    position: relative;
    box-sizing: border-box;
    margin-left: auto;
    padding-top: 78px;
  }

  &__heading {
    margin: 1px 0 0 0;
    padding: 0;
    position: relative;
    color: #000000;
    font-family: Gilroy, Helvetica, Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: .5px;

    &::before {
      content: '';
      position: absolute;
      width: 100px;
      height: 7px;
      top: -42px;
      left: 0;
      background-color: @white;
    }
  }

  &__description {
    margin: 19px 0 0 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: .1px;
  }

  &__link {
    display: inline-block;
    margin: 44px 0 0 0;
    letter-spacing: 3.5px;
  }

  &__details-list {
    list-style-type: none;
    margin: 57px 0 0 0;
    padding: 0;
  }

  &__details-item {
    display: inline-flex;
    flex-basis: auto;
    flex-direction: column;
    margin: 0;
    padding: 0;

    &:first-of-type {
      width: 155px;
    }
    &:nth-of-type(2) {
      width: 135px;
    }
  }

  &__details-item_content {
    display: block;
    font-family: Gilroy, OpenSans, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    color: @black;
  }

  &__details-item_name {
    display: block;
    margin: 11px 0 0 0;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
    color: @charcoal;
  }
}
