/*

format('woff2') - Super Modern Browsers
format('woff') - Pretty Modern Browsers
format('truetype') - Safari, Android, iOS

*/

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff'),
       url('../fonts/Gilroylight.ttf')  format('truetype');
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff'),
       url('../fonts/Gilroyextrabold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff'),
       url('../fonts/OpenSans-Regular.ttf')  format('truetype');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff'),
       url('../fonts/OpenSans-Light.ttf')  format('truetype');
  font-weight: lighter;
	font-style: normal;
}



//Gilroy, Open Sans
