<div class="write-us__container js-modal-write-us">
  <button class="m-close js-modal-close"></button>
  <form class="write-us__form">
    <label class="write-us__label">Ваше имя:
    <input name="name" type="text" class="write-us__input write-us__input_name" placeholder="Представьтесь, пожалуйста">
    </label>
    <label class="write-us__label">Ваш e-mail:
    <input name="email" type="email" class="write-us__input write-us__input_email" placeholder="Для отправки ответа">
    </label>
    <label class="write-us__label">Текст письма:
    <textarea name="text" cols="68" rows="7" class="write-us__text" placeholder="В свободной форме"></textarea>
    </label>
    <button class="btn write-us__submit" type="submit">Отправить</button>
  </form>
</div>
