<section class="about">
  <h2 class="section__title">О нас</h2>
  <p class="">
    Огромный выбор гаджетов не оставит равнодушным гика,
    который есть в каждом из нас.
  </p>
  <p class="">
    Мы можем доставить ваш товар в самые отдаленные точки России!
    DEVICE работает со многими транспортными компаниями:
  </p>
  <ul class="">
    <li class="">Деловые Линии</li>
    <li class="">Автотрейдинг</li>
    <li class="">ЖелДорЭкспедиция</li>
  </ul>
  <a href="#" class="btn" title="Подробнее о компании">Подробнее о нас</a>
</section>
