<section class="popular-products">
  <ul class="popular__list">
    <li class="popular__item">
      <a href="" class="popular__link">
        <span class="popular__item-title">Виртуальная реальность</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link">
        <span class="popular__item-title">Моноподы для селфи</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link">
        <span class="popular__item-title">Экшн-камеры</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link">
        <span class="popular__item-title">Фитнес-браслеты</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link">
        <span class="popular__item-title">Умные часы</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link">
        <span class="popular__item-title">Квадрокоптеры</span>
      </a>
    </li>
  </ul>
</section>
