<section class="services">
  <div class="services__controls">
    <ul class="services__controls_list">
      <li class="btn services__controls_item">Доставка</li>
      <li class="btn services__controls_item">Гарантия</li>
      <li class="btn services__controls_item">Кредит</li>
    </ul>
  </div>
  <article class="services__item_delivery">
    <h2 class="heading services__heading">Доставка</h2>
    <p class="services__text">
      Мы с удовольствием доставим ваш товар прямо к вашему <br>
      подъезду совершенно бесплатно! Ведь мы неплохо <br>
      заработаем, поднимая его на ваш этаж.
    </p>

  </article>
  <article class="services__item services__item_warranty">
    <h2 class="heading services__heading">Гарантия</h2>
    <p class="services__text">
      Залезть в долговую яму стало проще! Кредитные <br>
      консультанты подберут для вас наиболее выгодные <br>
      условия кредита. Выгодные для нашего банка, разумеется.
    </p>

  </article>
  <article class="services__item services__item_credit">
    <h2 class="heading services__heading">Кредит</h2>
    <p class="services__text">
      Если из-за возгорания купленного у нас товара у вас сгорит <br>
      дом — не переживайте, мы выдадим вам новый. <br>
      Товар, не дом, конечно же.
    </p>
  </article>
</section>
