<section class="brands">
  <ul class="brands__list">
    <li class="brands__item">
      <a href="" class="brands__link" title="Производитель: DJI">
        <img src="" alt="Производитель: DJI" class="brands__logo brands__logo_dji">
      </a>
    </li>
    <li class="brands__item">
      <a href="" class="brands__link" title="Производитель: SP Gadgets">
        <img src="" alt="Производитель: SP Gadgets" class="brands__logo brands__logo spgadjets">
      </a>
    </li>
    <li class="brands__item">
      <a href="" class="brands__link" title="Производитель: GoPro">
        <img src="" alt="Производитель: GoPro" class="brands__logo brands__logo_gopro">
      </a>
    </li>
    <li class="brands__item">
      <a href="" class="brands__link" title="Производитель: Vive">
        <img src="" alt="Производитель: Vive" class="brands__logo brands__logo_vive">
      </a>
    </li>
  </ul>
</section>
