<section class="popular-products">
  <ul class="popular__list">
    <li class="popular__item">
      <a href="" class="popular__link" title="Виртуальная реальность">
        <span class="popular__item-title popular__item-title_vr">Виртуальная реальность</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link" title="Моноподы для селфи">
        <span class="popular__item-title popular__item-title_monopode">Моноподы<br> для селфи</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link" title="Экшн-камеры">
        <span class="popular__item-title popular__item-title_action">Экшн-камеры</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link" title="Фитнес-браслеты">
        <span class="popular__item-title popular__item-title_fitness">Фитнес-браслеты</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link" title="Умные часы">
        <span class="popular__item-title popular__item-title_smartwatch">Умные часы</span>
      </a>
    </li>
    <li class="popular__item">
      <a href="" class="popular__link" title="Квадрокоптеры">
        <span class="popular__item-title popular__item-title_quadcopter">Квадрокоптеры</span>
      </a>
    </li>
  </ul>
</section>
