<section class="about">
  <h2 class="section__title">О нас</h2>
  <p class="section__text">
    Огромный выбор гаджетов не оставит равнодушным гика,
    который есть в каждом из нас.
  </p>
  <p class="section__text">
    Мы можем доставить ваш товар в самые отдаленные точки России!
    DEVICE работает со многими транспортными компаниями:
  </p>
  <ul class="section__list_delivery about__delivery-list">
    <li class="about__delivery-item">Деловые Линии</li>
    <li class="about__delivery-item">Автотрейдинг</li>
    <li class="about__delivery-item">ЖелДорЭкспедиция</li>
  </ul>
  <a href="#" class="btn" title="Подробнее о компании">Подробнее о нас</a>
</section>
