<section class="about">
  <h2 class="section__title section__title_dash about__title">О нас</h2>
  <p class="section__text about__text">
    Огромный выбор гаджетов не оставит равнодушным гика,<br>
    который есть в каждом из нас.
  </p>
  <p class="section__text about__text">
    Мы можем доставить ваш товар в самые отдаленные точки<br>
    России! DEVICE работает со многими транспортными компаниями:
  </p>
  <ul class="section__list_delivery about__delivery-list">
    <li class="about__delivery-item">Деловые Линии</li>
    <li class="about__delivery-item">Автотрейдинг</li>
    <li class="about__delivery-item">ЖелДорЭкспедиция</li>
  </ul>
  <a href="#" class="btn about__button" title="Подробнее о компании">Подробнее о нас</a>
  <!-- <button class="btn about__button">Подробнее о нас</button> -->
</section>
