<section class="promo-slider slider">

  <div class="slider__controls">
    <ul class="slider__controls-list">
      <li class="slider__controls-item">
        <button class="slider__button slider__button_active js-slider-button" data-control="1"></button>
      </li>
      <li class="slider__controls-item">
        <button class="slider__button js-slider-button" data-control="2"></button>
      </li>
      <li class="slider__controls-item">
        <button class="slider__button js-slider-button" data-control="3"></button>
      </li>
    </ul>
  </div>

  <article class="slider__item slider__item_01 js-slide m-show-flex" data-slide="1">
    <div class="slider__image-wrapper">
      <img src="img/slider/slider-1.png" alt="Длинная палка для селфи" width="384" height="486" class="slider__image">
    </div>
    <div class="slider__content-wrapper">
      <h2 class="heading slider__heading">
        Делай селфи,<br>
        как Бен Стиллер!
      </h2>
      <p class="slider__description">
        Самая длинная палка для селфи доступна в нашем магазине.<br>
        Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
      </p>
      <a href="#" class="btn slider__link" title="Подробная информация о товаре">Подробнее</a>
      <ul class="slider__details-list">
        <li class="slider__details-item">
          <span class="slider__details-item_content">8,5 м</span>
          <span class="slider__details-item_name">Длина палки</span>
        </li>
        <li class="slider__details-item">
          <span class="slider__details-item_content">5 кг</span>
          <span class="slider__details-item_name">Вес палки</span>
        </li>
        <li class="slider__details-item">
          <span class="slider__details-item_content">Карбон</span>
          <span class="slider__details-item_name">Материал</span>
        </li>
      </ul>
    </div>
  </article>
  <article class="slider__item slider__item_02 js-slide" data-slide="2">
    <div class="slider__image-wrapper">
      <img src="img/slider/slider-2.png" width="345" height="485" alt="Мотивирующий фитнес-браслет" class="slider__image">
    </div>
    <div class="slider__content-wrapper">
      <h2 class="heading slider__heading">
        Худеем<br>
        правильно!
      </h2>
      <p class="slider__description">
        Мотивирующие фитнес-браслеты помогут найти в себе силы<br>
        не пропускать занятия и соблюдать диету.
      </p>
      <a href="#" class="btn slider__link" title="Подробная информация о товаре">Подробнее</a>
      <ul class="slider__details-list">
        <li class="slider__details-item">
          <span class="slider__details-item_content">48 часов</span>
          <span class="slider__details-item_name">Без подзарядки</span>
        </li>
      </ul>
    </div>
  </article>
  <article class="slider__item slider__item_03 js-slide" data-slide="3">
    <div class="slider__image-wrapper">
      <img src="img/slider/slider-3.png" width="526" height="334" alt="Квадрокоптер с лазером" class="slider__image">
    </div>
    <div class="slider__content-wrapper">
      <h2 class="heading slider__heading">
        Порхает как бабочка,<br>
        жалит как пчела!
      </h2>
      <p class="slider__description">
        Этот обычный, на первый взгляд, квадрокоптер оснащен<br>
        мощным лазером, замаскированным под стандартную камеру.
      </p>
      <a href="#" class="btn slider__link" title="Подробная информация о товаре">Подробнее</a>
      <ul class="slider__details-list">
        <li class="slider__details-item">
          <span class="slider__details-item_content">800 м</span>
          <span class="slider__details-item_name">Дальность полета</span>
        </li>
        <li class="slider__details-item">
          <span class="slider__details-item_content">50 м</span>
          <span class="slider__details-item_name">Радиус поражения</span>
        </li>
      </ul>
    </div>
  </article>
</section>
