<div class="write-us__container js-modal-write-us">
  <button class="m-close js-modal-close"></button>
  <form class="write-us__form">
    <label for="name" class="write-us__label">Ваше имя:
    <input type="text" text="" class="write-us__input write-us__input_name" name="name" placeholder="Представьтесь, пожалуйста">
    </label>
    <label for="email" class="write-us__label">Ваш e-mail:
    <input type="email" text="" class="write-us__input write-us__input_email" name="email" placeholder="Для отправки ответа">
    </label>
    <label for="text" class="write-us__label">Текст письма:
    <textarea name="text" id="" cols="68" rows="7" class="write-us__text" placeholder="В свободной форме"></textarea>
    </label>
    <button class="btn write-us__submit" type="submit">Отправить</button>
  </form>
</div>
