<section class="contacts">
  <h2 class="section__title section__title_dash contacts__title">Контакты</h2>
  <p class="section__text contacts__text">
    Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете
    проверить работоспособность покупки. Всякое бывает.
  </p>
  <a href="" class="contacts__map-link js-map-link" title="Схема проезда">
    <img src="img/map.png" alt="Схема проезда" class="contacts__image">
  </a>
  <a href="#" class="btn contacts__button js-about-us-btn" title="Напишите нам">Напишите нам</a>
</section>
