<section class="brands">
  <ul class="brands__list">
    <li class="brands__item">
      <a href="" class="brands__link" title="Производитель: DJI">
        <div class="brands__logo brands__logo_dji">
        </div>
      </a>
    </li>
    <li class="brands__item">
      <a href="" class="brands__link" title="Производитель: SP Gadgets">
        <div class="brands__logo brands__logo_spgadgets">
        </div>
      </a>
    </li>
    <li class="brands__item">
      <a href="" class="brands__link" title="Производитель: GoPro">
        <div class="brands__logo brands__logo_gopro">
        </div>
      </a>
    </li>
    <li class="brands__item">
      <a href="" class="brands__link" title="Производитель: Vive">
        <div class="brands__logo brands__logo_vive">
        </div>
      </a>
    </li>
  </ul>
</section>
