<article class="products__item">
  <img src="img/catalog/item-1.jpg" alt="Любительская селфи-палка" class="products__image">
  <div class="products__actions">
    <button class="btn products__to-cart">В корзину</button>
    <button class="products__to-compare">Добавить к сравнению</button>
  </div>
  <div class="products__description">
    <a href="" class="products__link" title="Любительская селфи-палка">
      <h2 class="products__title">
        Любительская селфи-палка
      </h2>
    </a>
    <span class="products__price">
      500 руб.
    </span>
  </div>
</article>

<article class="products__item">
  <img src="img/catalog/item-2.jpg" alt="Профессиональная селфи-палка" class="products__image">
  <div class="products__actions">
    <button class="btn products__to-cart">В корзину</button>
    <button class="products__to-compare">Добавить к сравнению</button>
  </div>
  <div class="products__description">
    <a href="" class="products__link" title="Профессиональная селфи-палка">
      <h2 class="products__title">
        Профессиональная<br>
        селфи-палка
      </h2>
    </a>
    <span class="products__price">
      1 500 руб.
    </span>
  </div>
</article>
<article class="products__item">
  <img src="img/catalog/item-3.jpg" alt="" class="products__image">
  <div class="products__actions">
    <button class="btn products__to-cart">В корзину</button>
    <button class="products__to-compare">Добавить к сравнению</button>
  </div>
  <div class="products__description">
    <a href="" class="products__link" title="Непотопляемая селфи-палка">
      <h2 class="products__title">
        Непотопляемая селфи-палка
      </h2>
    </a>
    <span class="products__price">
      2 500 руб.
    </span>
  </div>
</article>
<article class="products__item">
  <img src="img/catalog/item-4.jpg" alt="Селфи-палка &laquo;Следуй за мной&raquo;" class="products__image">
  <div class="products__actions">
    <button class="btn products__to-cart">В корзину</button>
    <button class="products__to-compare">Добавить к сравнению</button>
  </div>
  <div class="products__description">
    <a href="" class="products__link" title="Селфи-палка &laquo;Следуй за мной&raquo;">
      <h2 class="products__title">
        Селфи-палка &laquo;Следуй за мной&raquo;
      </h2>
    </a>
    <span class="products__price">
      4 900 руб.
    </span>
  </div>
</article>
