<footer class="page-footer footer">
  <div class="container">

    <div class="footer__row footer__row_top">
      <div class="footer__logo">
        <a href="" class="footer__logo-link" title="Device: Главная">Device</a>
      </div>
      <ul class="footer__shop-menu">
        <li class="footer__shop-menu-item">
          <a href="" class="footer__shop-menu-link footer__shop-menu-link_sign-in" title="Войти в личный кабинет">Войти</a>
        </li>
        <li class="footer__shop-menu-item">
          <a href="" class="footer__shop-menu-link footer__shop-menu-link_compare" title="Сравнить товары">Сравнить</a>
        </li>
        <li class="footer__shop-menu-item">
          <a href="" class="footer__shop-menu-link footer__shop-menu-link_basket" title="Корзина">Корзина</a>
        </li>
      </ul>
    </div>

    <div class="footer__row footer__row_middle">
      <div class="footer_col">
        <p class="footer__address">
          г. Москва, ул. Строителей, 15
        </p>
      </div>
      <div class="footer_col">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link" title="Доставка">Доставка</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link" title="Гарантия">Гарантия</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link" title="Контакты">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer_col">
        <a href="tel:+7(495)495-95-95" class="footer__phone" title="Позвонить: +7 (495) 495-95-95">Тел.: +7 (495) 495-95-95</a>
      </div>
    </div>

    <div class="footer__row footer__row_bottom">
      <div class="footer_col">

      </div>
      <div class="footer_col">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a href="" class="footer__social-link footer__social-link_fb" title="Мы в Facebook"></a>
          </li>
          <li class="footer__social-item">
            <a href="" class="footer__social-link footer__social-link_insta" title="Мы в Instagram"></a>
          </li>
          <li class="footer__social-item">
            <a href="" class="footer__social-link footer__social-link_twitter" title="Мы в Twitter"></a>
          </li>
        </ul>
      </div>
      <div class="footer_col">
        <a href="https://htmlacademy.ru/intensive/htmlcss" class="footer__credits" title="Перейти на сайт htmlacademy.ru">
          <!-- <img src="" alt="HTML academy" class="footer__credits-logo"> -->
        </a>
      </div>
    </div>

  </div>
</footer>
